<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.DishMapper">

    <!-- 新增菜品数据 -->
    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        insert into dish(name, category_id, price, status, image, description, create_time, update_time, create_user,
                         update_user)
        values (#{name}, #{categoryId}, #{price}, #{status}, #{image}, #{description}, #{createTime}, #{updateTime},
                #{createUser}, #{updateUser})
    </insert>

    <!-- 批量保存菜品口味数据 -->
    <insert id="saveFlavors">
        insert into dish_flavor(dish_id, name, value)
        values
        <foreach collection="flavors" item="flavor" separator=",">
            (#{dishId}, #{flavor.name}, #{flavor.value})
        </foreach>
    </insert>

    <select id="pageQuery" resultType="com.sky.vo.DishVO">
        select d.id,
        d.name,
        d.category_id,
        d.price,
        d.image,
        d.description,
        d.status,
        d.update_time,
        d.create_time,
        d.create_user,
        d.update_user
        from dish d
        <where>
            <if test="name != null and name != ''">
                and name like '%${name}%'
            </if>
            <if test="categoryId != null">
                and category_id = #{categoryId}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
        </where>
    </select>

    <update id="update">
        update dish
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="categoryId != null">
                category_id = #{categoryId},
            </if>
            <if test="price != null">
                price = #{price},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="image != null">
                image = #{image},
            </if>
            <if test="description != null">
                description = #{description},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="updateUser != null">
                update_user = #{updateUser},
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id="deleteFlavors">
        delete
        from dish_flavor
        where dish_id = #{id}
    </delete>
    <select id="getById" resultType="com.sky.vo.DishVO">
        select d.id,
               d.name,
               d.category_id,
               d.price,
               d.image,
               d.description,
               d.status,
               d.update_time,
               d.create_time,
               d.create_user,
               d.update_user
        from dish d
        where id = #{id}
    </select>
    <select id="getFlavorsByDishId" resultType="com.sky.entity.DishFlavor">
        select id,
               dish_id,
               name,
               value
        from dish_flavor
        where dish_id = #{id}
    </select>
    <select id="list" resultType="com.sky.entity.Dish">
        select id,
               name,
               category_id,
               price,
               image,
               description,
               status,
               update_time,
               create_time,
               create_user,
               update_user
        from dish
        where category_id = #{categoryId}
    </select>

    <delete id="delete">
        delete
        from dish
        where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
